.sec1 {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #388e3c;
  height: 100vh;
}

.sec2 {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #3949ab;
  height: 100vh;
}

.sec3 {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #424242;
  height: 100vh;
}

h1 {
  font-size: 10em;
  display: block;
  color: #fafafa;
  font-weight: 300;
}

p {
  float: right;
}

img {
  width: 60%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 85vh;
}

.hover08 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover08:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.focus {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.focus:hover {
  border: 35px solid #000;
  border-radius: 50%;
}
