doctype
html( lang="em")
	head
		<!-- External Stylesheet -->
		link( href='../css/styles.css', rel='stylesheet', type='text/css')
		<!-- BootstrapCSS -->
		link( href='../js/libs/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		title this is
	body
		section.sec1
			h1 Xbox One
			img(src='../images/xboxOne.jpg')

		section.sec2
			h1 PS4
			img(src='../images/ps4.jpg')
		
		section.sec1
			h1 Xbox 360
			img(src='../images/xbox360.jpg')
		
		section.sec2
			h1 PS3
			img(src='../images/ps3.jpg')
		
		section.sec3
			h1 Star Wars
			img(src='../images/starWars.jpg')
	footer
		h1 Footer
	script(src='../js/libs/jquery.js')
	script(src='../js/libs/bootstrap.min.js')