doctype
html( lang="em")
	head
		<!-- External Stylesheet -->
		link( href='../css/styles.css', rel='stylesheet', type='text/css')
		<!-- BootstrapCSS -->
		link( href='../js/libs/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		title this is
	body
		section.sec1.container-fluid
			h1 Xbox One
			img.col-xs-6.hover08.focus(src='../images/xboxOne.jpg')
			p.col-xs-6 xbox one review

		section.sec2.container-fluid
			h1 PS4
			p.col-xs-6 ps4 review
			img.col-xs-6.hover08.focus(src='../images/ps4.jpg')
		
		section.sec1.container-fluid
			h1 Xbox 360
			img.col-xs-6.hover08.focus(src='../images/xbox360.jpg')
			p.col-xs-6 xbox 360 review
		
		section.sec2.container-fluid
			h1 PS3
			p.col-xs-6 ps3 review
			img.col-xs-6.hover08.focus(src='../images/ps3.jpg')

		section.sec3.container-fluid
			h1 Star Wars
			img.col-xs-6.hover08.focus(src='../images/starWars.jpg')
			p.col-xs-6 star wars review
	footer
		h1 Footer
	script(src='../js/libs/jquery.js')
	script(src='../js/libs/bootstrap.min.js')